* {
    margin: 0;
    padding: 0;

}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(image/pizza.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    max-width: 1900px;
    margin: auto;
    padding-left:25px;
    padding-right: 25px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding:20px;
}
nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration:none;
    color:#ffffff;
}

.header .row{
    margin-top:77px;
}